* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.page-container {
    background-color: aqua;
    width: 600px;
    height: auto;
    padding: 16px;
}

.main-heading {
    text-align: center;
    font-size: 30px;
    margin: 0 0 16px 0;
}

.link-box {
    background-color: lightgrey;
    text-align: center;
    font-size: 20px;
    margin: 8px auto 0 auto;
    padding: 8px;
    width: fit-content;

}

.link-box a {
    color: black;
    text-decoration: none;
}

.link-box a:hover {
    color: black;
    text-decoration: underline;
}

ul {
    list-style: dot;
}